.swing-girl {
  position:fixed;
  top: 0px;
  right: 0px;
  height: 75%;
}

.tip-top {
  font-family: "Black Ops One", cursive;
  font-size: 60pt;
}

body {
  background-color: #c0e8df;
}

.moods div {
  display: inline-block;
}

.mooods {
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 100px;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #E88AB1;
  text-align: center;
  color: #FFFFFF;
  font-family: Verdana, Arial, Sans-Serif;
}

.purple {
  background-color: #ae4f9d;
}
