.swing-girl {
  position:fixed;
  top: 0px;
  right: 0px;
  height: 75%;
}

.tip-top {
  font-family: "Black Ops One", cursive;
  font-size: 60pt;
}

body {
  background-color: #c0e8df;
}

.moods li {
  display: inline;
  opacity: 0.5;
}

.mooods {
  margin-left: auto;
  margin-right: auto;
}

.button {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    border: 10px;
    background-color: #ae4f9d;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
}
